.search{
    position: relative;

    .input{
        width: 350px;
        height: 50px;

        font-size: 24px;

        background: #fff;
        border: 0;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
        outline: none;
        transition: background 0.2s;

        padding: 0 50px 0 20px;

        &:hover, &:focus{
            background: #f8f8f8;
        }
        &::placeholder{
            color: #B2B2B2;
        }
    }
    i{
        font-size: 22px;
        color: #666666;

        position: absolute;
        top: 50%;
        right: 20px;

        transform: translate(0, -50%);

        cursor: pointer;
    }

    @media (min-width: 1680px){
        .input{
            width: 600px;
            height: 80px;

            font-size: 48px;

            border-radius: 20px;
            padding: 0 50px 0 32px;
        }
        i{
            font-size: 30px;

            right: 24px;
        }
    }
}