.wrapper{
    display: flex;
    align-items: center;

    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

    margin-bottom: 15px;

    cursor: pointer;

    transition: background 0.2s;

    &:hover{
        background: #f6f6f6;
    }

    .number{
        width: 4.3%;
        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: #000;

        border-right: 1px #B2B2B2 solid;
        padding: 22px 0;
    }
    .country{
        width: 64.4%;

        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        color: #000;

        padding: 22px 0 22px 15px;
        border-right: 1px #B2B2B2 solid;
    }
    .cases{
        width: 31.3%;

        font-family: Roboto;
        font-size: 18px;
        font-weight: 700;
        color: #000;

        padding: 22px 0 22px 15px;
    }

    @media (min-width: 1680px){
        border-radius: 20px;
        margin-bottom: 20px;

        .number, .country, .cases{
            font-size: 24px;

            padding-top: 26px;
            padding-bottom: 26px;
        }
    }
}