.header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logoWrapper{
        display: flex;
        align-items: center;

        .logoImg{
            width: 150px;
            height: auto;
        }
        .logo{
            font-family: 'Roboto';
            font-size: 58px;
            font-weight: 700;
            text-transform: uppercase;
            color: #000;
        }
    }
    @media (min-width: 1680px){
        .logoWrapper{
            .logoImg{
                width: 200px;
            }
            .logo{
                font-size: 72px;
                line-height: 84px;
            }
        }
    }
}

